.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: black;

}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap:50px; 
    margin-bottom: 50px;
}

