.editor-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    padding:0px;
    box-sizing: border-box;
    gap: 20px;
}

.editor-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.editor-left img {
    max-width: 100%;
    height: 500px;
}

.editor-right {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editor-right textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px ;
    font-size: 16px;
    resize: vertical;
    border-radius: 14px;
}

.editor-right button {
    margin-top: 10px;
    border-radius: 14px;
    width: 200px;
    height:50px;
    font-weight: 700;
    padding: 8px 16px;
    background: #2563eb;;
    font-size: 16px;
    color:whitesmoke;
    cursor: pointer;
    border: none;
  
}
.editor-right button:hover{
    transform: scale(1.10);
}
.result-text {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
.para{
    color: blue;

}
